Host *
  PubkeyAuthentication yes

Host bastion-example
  Hostname 1.3.3.7
  User core
  Port 22
  IdentitiesOnly yes
  IdentityFile ~/.ssh/name/key.pem
 
Host private-host-example
  Hostname 172.16.0.2
  User ubuntu
  ProxyCommand ssh bastion-example -W %h:%p
  Port 22
  IdentitiesOnly yes
  IdentityFile ~/.ssh/name/key2.pem
